/AttackTarget.cs
/AttackThickness.cs
/BeingTargetedBy.cs
/CanSeeTarget.cs
/Direction.cs
/GroundPosition.cs
/Health.cs
/HipPosition.cs
/PredictedPosition.cs
/Range.cs
/SearchPosition.cs
/TargetPriority.cs
/TargetThickness.cs
/Team.cs
/UnitCost.cs
/UnitType.cs
/Velocity.cs
